$padding-slug: padd !default;
$margin-slug: mar !default;
$width-slug: width !default;


$base-size: 16;

$top: top !default;
$right: right !default;
$bottom: bottom !default;
$left: left !default;

@mixin set-form-group-width($percentage) {
  width: $percentage;
}

// === MIXINS ===

@mixin placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  line-height: 1.25;
  padding-left: 5px;
}


//Function to convert px value into rem
//You can replace rem with any other value you want (rem is most preferred value for web)
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1em;
}


@mixin border-styles($position: "", $color: rgba(0, 0, 0, 0.1), $style: solid, $width: 1px) {
  border-#{$position}-color: $color;
  border-#{$position}-style: $style;
  border-#{$position}-width: $width;
}

@mixin setPadding($top: "", $bottom: "", $left: "", $right: "", $padding: 0) {
  @if ($padding != 0) {
    padding-top: size($top);
    padding-left: size($left);
    padding-right: size($right);
    padding-bottom: size($bottom);
  } @else {
    padding: size($padding);
  }
}

@mixin setMargin($top: "", $bottom: "", $left: "", $right: "", $margin: 0) {
  @if ($margin != 0) {
    margin-top:  size($top);
    margin-left: size($left);
    margin-right: size($right);
    margin-bottom: size($bottom);
  } @else {
    margin: size($margin)
  }

}

@mixin fleet-active-inactive-button {
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  vertical-align: center;
  padding: 6px;
  border: none;
}
