
.logs {

  &__header {

  }

  &__title {

  }


  &__filter-clear {
    display: flex;

    .material-icons {
      color: #ff4e50;
    }
  }




}


.ai__item {
  margin: 1rem;
}


.logs > mat-card {
    background-color: #f4f3f5;
}
