<div class="row logs">
  <mat-card class="card logs--card">
    <span class="text--bold">LOGS</span>

    <mat-list role="list">
      <mat-list-item role="listitem" class="list--item">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <select class="form-control logs--dropdowns" #type (change)="filterLogs(type.value,intent.value,entity.value,metric.value)">
                <option value="0" selected>All Types</option>
                <option *ngFor="let type of allTypes" [value]="type">{{type}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <select class="form-control logs--dropdowns" #intent (change)="filterLogs(type.value,intent.value,entity.value,metric.value)">
                <option value="" selected>All Intents</option>
                <option *ngFor="let intent of getAllIntents" [value]="intent">{{intent}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <select class="form-control logs--dropdowns"  #entity (change)="filterLogs(type.value,intent.value,entity.value,metric.value)">
                <option value="" selected>All Entities</option>
                <option *ngFor="let entity of allEntities" [value]="entity">{{entity}}</option>

              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <select class="form-control logs--dropdowns" disabled #metric  (change)="filterLogs(type.value,intent.value,entity.value,metric.value)">
                <option value="" selected>All Metrics</option>
                <option *ngFor="let metric of allMetric" [value]="metric">{{metric}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <div class="logs__items">
                  Showing <strong>1</strong> out of <strong>1</strong>
                </div>
              </div>
              <div class="col-md-6">
                <div class="logs__filter-clear"  (click)="clearFilters()">
                  <span class="material-icons">
                    cancel
                  </span>
                  <p>
                    Clear filters
                  </p>
                </div>
              </div>
            </div>


          </div>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem" class="list--item"> </mat-list-item>
      <div class="ai__item">
        <ng-container *ngFor="let log of allLogs">
          <app-item [log]="log" (refreshLogsStatus)="refreshLogs($event)"></app-item>
        </ng-container>
      </div>
    </mat-list>
  </mat-card>





</div>
