<div class="row logs">
  <mat-card class="card logs--card">
    <span class="text--bold">LOGS</span>

    <mat-list role="list">
      <mat-list-item role="listitem" class="list--item">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <select class="form-control logs--dropdowns">
                <option value="0" selected>All Types</option>
                <option value="1">Featured</option>
                <option value="2">Most popular</option>
                <option value="3">Top rated</option>
                <option value="4">Most commented</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <select class="form-control logs--dropdowns">
                <option value="0" selected>All Intents</option>
                <option value="1">Featured</option>
                <option value="2">Most popular</option>
                <option value="3">Top rated</option>
                <option value="4">Most commented</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <select class="form-control logs--dropdowns">
                <option value="0" selected>All Entities</option>
                <option value="1">Featured</option>
                <option value="2">Most popular</option>
                <option value="3">Top rated</option>
                <option value="4">Most commented</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <select class="form-control logs--dropdowns">
                <option value="0" selected>All Services</option>
                <option value="1">Featured</option>
                <option value="2">Most popular</option>
                <option value="3">Top rated</option>
                <option value="4">Most commented</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <div class="logs__items">
                  Showing <strong>1</strong> out of <strong>1</strong>
                </div>
              </div>
              <div class="col-md-6">
                <div class="logs__filter-clear">
                  <span class="material-icons">
                    cancel
                  </span>
                 <p>
                  Clear filters
                 </p>
                </div>
              </div>
            </div>


          </div>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem" class="list--item"> </mat-list-item>
      <div class="ai__item">
        <app-item [logs]="allLogs"></app-item>
      </div>
    </mat-list>
  </mat-card>





</div>
