<!-- submit -->
<div class="train__model" *ngIf="type === 'submit'">
  <div class="train__model-analyze">
    <h2 class="analyze__title p-l-20">Analyze</h2>

    <div class="input--field form-control text__sentence">
      <ng-container *ngFor="let word of sentenceList">

        <span popperDisableStyle="true" [popper]="tooltipcontent" [popperHideOnMouseLeave]="false"
          [popperHideOnClickOutside]="false" [popperPlacement]="'bottom-start'"
          (dblclick)="onShown($event, tooltipcontent, word)">
          <span class="word--focus" *ngIf="word.color !== 'transparent'; else noColor" [ngStyle]="{
            'background-color': word.color,
            'color': 'white'
          }">
            {{word.value}}
          </span>
          <ng-template #noColor>
            <span class="word--focus" [ngStyle]="{
              'background-color': word.color
            }">
              {{word.value}}
            </span>
          </ng-template>

        </span>
        <popper-content #tooltipcontent>
          <span class="popper popper__design">
            <span class="popper__arrow"></span>

            <div class="popper__design-box">
              <h1 class="popper__design-title">Choose entity</h1>
              <span class="popper__dropdown-area">
                <select class="form-control" id="sel1" [(ngModel)]="word.name" (change)="setEntity(word)">
                  <option  [value]="default">--</option>
                  <ng-container *ngFor="let entity of getEntities">
                    <option [value]="entity.name">
                      {{entity.name}}
                    </option>
                  </ng-container>

                </select>

                <i class="fa fa-trash trash--icon" aria-hidden="true" (click)="removeEntity(word);"></i>
              </span>
            </div>
          </span>
        </popper-content>
      </ng-container>
    </div>

  </div>



  <div class="choose__intent">
    <label class="choose__intent-label">Intent</label>
    <div class="choose__intent-dropdown">
      <select class="form-control" id="sel1" #selectedIntent>
        <option *ngFor="let intent of intentData">
          {{intent.confidence_score.toPrecision(4)}}%:{{intent.intent}}</option>
      </select>
    </div>
  </div>
  <div class="clearfix">
    <button type="button" class="btn btn-brand btn-brand-md btn-secondary pull-right submit__button"
      (click)="subSentence(selectedIntent.value)"> Submit </button>
      <button type="button" class="btn btn-brand btn-brand-md btn-secondary pull-right add__cancel--button"
      (click)="closeTheAnlyse('close')"> Cancel </button>
  </div>
</div>

<!-- edit -->
<div class="train__model edit__model" *ngIf="type === 'edit'">

  <div class="row">
    <div class="col-md-1 message__icon">
      <i class="fa fa-commenting" aria-hidden="true"></i>
    </div>
    <div class="col-md-11 message__sentence">
      <p class="edit__sentence">Provide correct interpretation</p>
      <div class="input--field form-control text__sentence">
        <ng-container *ngFor="let word of sentenceList">


          <span popperDisableStyle="true" [popper]="tooltipcontent" [popperHideOnMouseLeave]="false"
            [popperHideOnClickOutside]="false" [popperPlacement]="'bottom-start'"
            (dblclick)="onShown($event, tooltipcontent, word)">
            <span *ngIf="word.color !== 'transparent'; else noColor" [ngStyle]="{
          'background-color': word.color,
          'color': 'white'
        }">
              {{word.value}}
            </span>
            <ng-template #noColor>
              <span [ngStyle]="{
            'background-color': word.color
          }">
                {{word.value}}
              </span>
            </ng-template>
          </span>
          <popper-content #tooltipcontent>
            <span class="popper popper__design">
              <span class="popper__arrow"></span>

              <div class="popper__design-box">
                <h1 class="popper__design-title">Choose entity</h1>
                <span class="popper__dropdown-area">
                  <select class="form-control" id="sel1" [(ngModel)]="word.name" (change)="setEntity(word)">
                    <option [value]="default">--</option>
                    <ng-container *ngFor="let entity of getEntities">
                      <option [value]="entity.name">
                        {{entity.name}}
                      </option>
                    </ng-container>

                  </select>

                  <i class="fa fa-trash trash--icon" aria-hidden="true"></i>
                </span>
              </div>
            </span>
          </popper-content>
        </ng-container>
      </div>
      <div class="choose__intent edit__intent">
        <label class="choose__intent-label edit__intent-label">Intent</label>
        <div class="choose__intent-dropdown">
          <select class="form-control" id="sel1" [(ngModel)]="intentFetched" #selectedIntent>
            <option *ngFor="let intent of intentData">
              {{intent.confidence_score.toPrecision(4)}}%:{{intent.intent}}</option>
          </select>

        </div>
      </div>
    </div>
  </div>
  <div class="clearfix edit__clearfix">
    <button type="button" class="btn btn-brand btn-brand-md btn-secondary pull-right submit__button"
      (click)="subSentence(selectedIntent.value)"> Submit </button>
    <button type="button" class="btn btn-brand btn-brand-md btn-secondary pull-right edit__cancel--button"
      (click)="closeTheAnlyse('close')"> Cancel </button>
  </div>
</div>
