<div class="container-fluid">
  <!-- <div class="spinner" *ngIf="showSpinner === true">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div> -->

  <app-tool></app-tool>


</div>







<!--
    <div class="row train__model">
    <div class="col-md-8">
      <div class="row train__card">
        <mat-card class="card train--card">
          <mat-list role="list">
            <mat-list-item role="listitem" class="list--item">
              <mat-label class="margin-top-10 margin-bottom-10"
                >TYPE SENTENCE</mat-label
              >
              <input
                type="text"
                [(ngModel)]="sentence"
                class="field sentenceText"
              />
            </mat-list-item>


            <span *ngIf="trainingSuccess === true">
              <mat-list-item role="listitem" class="list--item">
                <mat-label class="margin-top-10 margin-bottom-10"
                  >ANALYZE</mat-label
                >

                <div
                  class="field analyzeText"
                  id="highlight-content"
                  [innerHTML]="highlight()"
                ></div>
              </mat-list-item>
              <mat-list-item role="listitem" class="entity--item">
                <mat-label>ENTITIES</mat-label>

                <mat-chip-list
                  #chipList
                  aria-label="Fruit selection"
                  class="margin-left-10 margin-right-10"
                >
                  <mat-chip
                    *ngFor="let entity of data?.entityData.userEntities"
                    [removable]="removable"
                    selected
                    [color]="entity.color"
                  >
                    {{ entity.name }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-list-item>
              <mat-list-item role="listitem" class="entity--item">
                <mat-label>INTENT : PREDICT</mat-label>
              </mat-list-item>

              <mat-list-item role="listitem" class="list--item">
                <div class="field predict" *ngIf="data; else noData">
                  {{ (data?.intentData)[0].intent }} :
                  {{ (data?.intentData)[0].confidence_score / 100 }}
                </div>
                <ng-template #noData>
                  <div class="predict">
                    PREDICT
                  </div>
                </ng-template>
              </mat-list-item>
            </span>

            <hr class="divider margin-top-20 margin-bottom-10" />
            <mat-list-item>
              <div class="train--buttons full--expand">
                <input
                  type="button"
                  value="Submit"
                  (click)="submitSentence()"
                  class="global-bigger-blue-button align--right margin-10 btn-width-100"
                />
                <input
                  type="button"
                  value="Cancel"
                  (click)="closePanel()"
                  class="global-bigger-white-button align--right margin-10 btn-width-100"
                />
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
      <div class="row logs">
        <mat-card class="card logs--card">
          <span class="text--bold">LOGS</span>

          <mat-list role="list">
            <mat-list-item role="listitem" class="list--item">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <select class="form-control logs--dropdowns">
                      <option value="0" selected>All Types</option>
                      <option value="1">Featured</option>
                      <option value="2">Most popular</option>
                      <option value="3">Top rated</option>
                      <option value="4">Most commented</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <select class="form-control logs--dropdowns">
                      <option value="0" selected>All Intents</option>
                      <option value="1">Featured</option>
                      <option value="2">Most popular</option>
                      <option value="3">Top rated</option>
                      <option value="4">Most commented</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <select class="form-control logs--dropdowns">
                      <option value="0" selected>All Entities</option>
                      <option value="1">Featured</option>
                      <option value="2">Most popular</option>
                      <option value="3">Top rated</option>
                      <option value="4">Most commented</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <select class="form-control logs--dropdowns">
                      <option value="0" selected>All Services</option>
                      <option value="1">Featured</option>
                      <option value="2">Most popular</option>
                      <option value="3">Top rated</option>
                      <option value="4">Most commented</option>
                    </select>
                  </div>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item role="listitem" class="list--item"> </mat-list-item>
          </mat-list>

          <mat-list role="list">
            <div class="full--expand">
              <span class="text--bold align--left">

              </span>
              <span class="align--right">

              </span>
            </div>
          </mat-list>
          <mat-list class="margin-top-20">
            <mat-card class="logs--list">

              <div
                class="row full--expand margin-10 margin-bottom-5 uncertain--log"
                *ngFor="let log of trainingLogs"
              >
                <div class="col-md-1 align-self-center">
                  <i class="material-icons">
                    trending_down
                  </i>
                </div>

                <div class="col-md-5">
                  <span class="log--title">Identified As:</span>
                  <span>
                    {{ log.sentence }}
                  </span>
                </div>
                <div class="col-md-2 my-auto">
                  <span class="log--title">Intent</span>

                  <span class="predict-text-color">
                    {{ log.intent }}
                  </span>
                </div>

                <div class="col-md-2 my-auto">
                  <span class="log--title">Entity</span>
                  <span
                    class="predict-text-color"
                    *ngFor="let entity of log.entities"
                  >
                    {{ entity }}
                  </span>
                </div>

                <div class="col-md-2">
                  <div class="icon__area">
                    <mat-card
                      class="icon__dislike my-auto"
                      [ngClass]="{
                        selected: log.correct === true,
                        'not-selected': log.correct === false
                      }"
                    >
                      <i
                        class="material-icons like__icon"
                        (click)="updateOperation('up', log)"
                      >
                        thumb_up_alt
                      </i>
                    </mat-card>
                    <mat-card
                      class="icon__like my-auto"
                      [ngClass]="{
                        selected: log.wrong === true,
                        'not-selected': log.wrong === false
                      }"
                    >
                      <i
                        class="material-icons unLike__icon"
                        (click)="updateOperation('down', log)"
                      >
                        thumb_down_alt
                      </i>
                    </mat-card>
                  </div>
                </div>
              </div>
            </mat-card>
          </mat-list>
        </mat-card>
      </div>
    </div>

    <div class="col-md-4">
      <div class="stats">
        <mat-card class="card stats--card text--bold"
          >Stats
          <mat-list role="list" class="mat--list">
            <mat-list-item role="listitem" role="listitem" class="list--item">
              <mat-label class="stats-title">SENTENCES</mat-label>
              <mat-list role="list" class="mat--list">
                <mat-list-item role="listitem">
                  <div
                    class="row list-item-row full--expand"
                  >
                    <div class="col-md-10">
                      <span>Yet to be Verified</span>
                    </div>
                    <div class="col-md-2">
                      <span>{{ stats?.no_feedback }}</span>
                    </div>
                  </div>
                  <div
                    class="row list-item-row full--expand"
                  >
                    <div class="col-md-10">
                      <span>Correct</span>
                    </div>
                    <div class="col-md-2">
                      <span style="color: green">{{ stats?.correct }}</span>
                    </div>
                  </div>
                  <div
                    class="row list-item-row full--expand"
                  >
                    <div class="col-md-10">
                      <span>Wrong</span>
                    </div>
                    <div class="col-md-2">
                      <span style="color: red">{{ stats?.wrong }}</span>
                    </div>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-list-item>
            <hr class="divider" />
          </mat-list>
        </mat-card>
      </div>
    </div>
  </div>
 -->
