<div class="row">
  <div class="test__header">

  </div>

  <div class="application__train-model-stats flex flex-column">
    <div class="train__model--container">
      <h1 class="train__model--header">
        Train the model
      </h1>
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control text__sentence" [ngModelOptions]="{standalone: true}" [(ngModel)]="sentence"
            type="search" placeholder="Try a sentence" aria-label="Search"

            [disabled]="showAnalysModal === true ? true: false">

          <span class="button">

            <button class="btn btn-lg btn__secondary analyze__button"
            *ngIf="showAnalysModal === false"
              [ngClass]="sentence.length > 0 ? 'btn__enable': 'btn__disabled'" type="submit"
              (click)="analyzeSentence()">Analyze</button>
            <button class="btn btn-lg btn__secondary analyze__button-cancel"
              *ngIf="showAnalysModal === true"
              [ngClass]="sentence.length > 0 ? 'btn__enable': 'btn__disabled'" type="submit"
              (click)="cancelLogic()">
              <span class="material-icons">
                cancel
              </span>
            </button>
          </span>
        </form>
      </nav>

      <!-- Analyze panel -->
      <ng-container *ngIf="showAnalysModal === true">
        <app-analyze [id]="sentenceData['id']" [sentenceText]="sentenceText" [type]="'submit'"
          [intentData]="sentenceData['intentData']" [entityData]="sentenceData['entityData']" (closeModel)="closeAnalyzeModel($event)"></app-analyze>
      </ng-container>
    </div>



    <div class="stats">
      <app-stats (logsValue)="logs($event)"></app-stats>
    </div>

    <div class="logs">
      <app-logs *ngIf="showLogs"></app-logs>
    </div>


  </div>
</div>
