@import "../../../styles/scss/main.scss";

//  default


.train__model--header {
  font-size: 1.5rem;
  font-weight: 300;
  padding-left: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.train__model--container {
  max-width: 750px;
  margin: 4rem auto;
  padding: 0.5rem;
}

.form-inline {
  display: flex;
}


.text__sentence {
  height: 3.5rem;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px 0 rgba(40, 43, 55, 0.2);
  z-index: 10;
  position: relative;
  width: 100%;
  cursor: auto;
}


.fixed {
  height: 3rem;
}

.btn {
  &__disabled {
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
  }

  &__enable {
    cursor: pointer;
    opacity: 1;
  }

  &__secondary {
    color: #fff;
    background-color: #75d701;
    border-color: #75d701;
  }
}

.analyze__button {
  width: auto;
  padding: 1rem 1rem 1rem 2rem;
  margin-left: -1rem;
}


.stats {
  padding-left: 150px;
  padding-right: 150px;
}

.logs {
  display: block;
  padding: 2rem;
  padding-left: 150px;
  padding-right: 150px;

  position: relative;
  top: -40px;
}



@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';
@import '~tippy.js/animations/scale.css';

.tippy-content {
  position: relative;
}

.tippy-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  right: 9px;
  fill: rgb(158, 160, 165);
  cursor: pointer;
  z-index: 1;
}

.tippy-box {
  border-radius: 4px;
  font-size: 11px;

  .tippy-content {
    padding: 4px 6px;
  }
}

.tippy-box[data-theme~='light'] {
  font-size: 12px;
  word-break: break-word;
  border-radius: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
  color: rgb(79, 80, 83);

  .tippy-content {
    padding: 13px 48px 13px 20px;
  }
}

.tippy-arrow::before {
  box-shadow: -4px 4px 14px -4px rgba(0, 0, 0, 0.2);
}
