<div class="stats__container">
  <div class="stats__top-section">


    <div class="stats__title">Stats</div>
    <span class="material-icons">
      info
    </span>

    <div class="stats__loader">
      <hr>
    </div>

  </div>


  <div class="row stats__main-content">
    <div class="col-md-10">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="content--title">Sentences</div>
          <div class="row">
            <div class="col-md-6 stats__signals">
              <div class="stats__text-muted">Annotated</div>
              <div class="flex">
                <a href="">0</a>
              </div>
            </div>
            <div class="col-md-6 stats__signals">
              <div class="stats__text-muted">Correct</div>
              <div class="flex">
                <a href="">0</a>
              </div>
            </div>
            <div class="col-md-6 stats__signals">
              <div class="stats__text-muted">Wrong</div>
              <div class="flex">
                <a href="">0</a>
              </div>
            </div>
            <div class="col-md-6 stats__signals">
              <div class="stats__text-muted">Not Annotated</div>
              <div class="flex">
                <a href="">0</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="content--title">Intent</div>
          <div class="row">
            <div class="col-md-6 stats__signals">
              <div class="stats__text-muted">True Positives</div>
              <div class="flex">
                <a href="">0</a>
              </div>
            </div>
            <div class="col-md-6 stats__signals">
              <div class="stats__text-muted">F1</div>
              <div class="flex">
                <a href="">0</a>
              </div>
            </div>
            <div class="col-md-6 stats__signals">
              <div class="stats__text-muted">False Positives</div>
              <div class="flex">
                <a href="">0</a>
              </div>
            </div>
            <div class="col-md-6 stats__signals">
              <div class="stats__text-muted">False Negetive</div>
              <div class="flex">
                <a href="">0</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="content--title">Entities</div>
          <div class="row">
            <div class="col-md-6 stats__signals">
              <div class="stats__text-muted">True Positives</div>
              <div class="flex">
                <a href="">0</a>
              </div>
            </div>
            <div class="col-md-6 stats__signals">
              <div class="stats__text-muted">F1</div>
              <div class="flex">
                <a href="">0</a>
              </div>
            </div>
            <div class="col-md-6 stats__signals">
              <div class="stats__text-muted">False Positives</div>
              <div class="flex">
                <a href="">0</a>
              </div>
            </div>
            <div class="col-md-6 stats__signals">
              <div class="stats__text-muted">False Negetive</div>
              <div class="flex">
                <a href="">0</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">

      <div class="stats__toggle-logs-btn">
        <button class="btn btn--brand btn--brand-md btn__logs" [ngClass]="isShow === true ? 'btn--white': 'btn--dark'" (click)="showLogs()"
        >{{isShow === true ? 'Hide Logs': 'Show Logs'}}</button>
      </div>

    </div>


  </div>
</div>
