<!-- <div class="stats__container">
  <div class="stats__title">Stats</div>
  <span class="material-icons">
    info
  </span>

  <div class="stats__loader">
    <hr>
  </div>


  <div class="stats__main-content row">
    <div class="col-md-12">
      <div class="title">Sentences</div>
      <div class="row">
        <div class="col-md-6">
          <div class="stats__text-muted">Annotated</div>
        </div>
        <div class="col-md-6">
          <div class="stats__text-muted">Correct</div>
        </div>
        <div class="col-md-6">
          <div class="stats__text-muted">Wrong</div>
        </div>
        <div class="col-md-6">
          <div class="stats__text-muted">Not Annotated</div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="title">Intents</div>
      <div class="row">
        <div class="col-md-6">
          <div class="stats__text-muted">True Positives
          </div>
        </div>
        <div class="col-md-6">
          <div class="stats__text-muted">F1
          </div>
        </div>
        <div class="col-md-6">
          <div class="stats__text-muted">False Positives
          </div>
        </div>
        <div class="col-md-6">
          <div class="stats__text-muted">False Negatives
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="title">Entities</div>
      <div class="row">
        <div class="col-md-6">
          <div class="stats__text-muted">True Positives
          </div>
        </div>
        <div class="col-md-6">
          <div class="stats__text-muted">F1
          </div>
        </div>
        <div class="col-md-6">
          <div class="stats__text-muted">False Positives
          </div>
        </div>
        <div class="col-md-6">
          <div class="stats__text-muted">False Negatives
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
