
.align--right {
  float: right;
}

.align--left {
  float: left;
}

.full--expand {
  width: 100%;
}

.text--bold {
  font-weight: 500;
}



.data--missing {
  color: grey;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 20%;
  font-size: 16px;
}
